body {
    font-family: 'Open Sans', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px 10px 100px 10px;
}

h1 {
    margin: 20px 0 30px 0;
    font-size: 1.7em;
}

h2 {
    margin-top: 50px;
    color: #157ee6;
}

.responsive-img {
    width: 100%;
    height: auto;
}

hr {
    margin: 40px 0;
    border: solid 1px #ededed;
}

p, li {
    line-height: 1.5em;
}


.title-underline {
    margin: 0px 0px 30px 0;
    border: solid 2px #157ee6;
    width: 50px;
}

.home-btn-top {
    font-size: 13px;
}

.read-more-articles {
    background-color: #eff9ff;
    padding: 15px;
}

.home-btn-top a {
    color: #808080;
}